h1 {
    font-family: sans-serif;
    margin-top: -20px;
    margin-left: 490px;
    width: fit-content;
}

body {
    font-family: sans-serif;
}

h2 {
    margin-top: 40px;
    margin-left: 120px;
}

h3 {
    margin-top: -150px;
    margin-left: 900px;
    font-size: 24px;
}

.ik {
    width: fit-content;
}

.idk {
    margin-top: -5px;
    margin-left: 820px;
}

.ik:hover {
    color: rgba(30, 231, 23, 0.993);
    transition: 0.6s;
}

.idk:hover {
    color: rgba(207, 27, 27, 0.925);
    margin-left: 820px;
    transition: 0.6s;
}

button {
    margin-left: 1270px;
    padding: 2px;
    border-color: rgb(32, 32, 32);
    background-color: rgb(248, 244, 227);
    font-family: sans-serif;
    font-size: 12px;
}

.light-theme{
    color: rgb(32, 32, 32);
    background-color: rgb(207, 207, 207);
}

.dark-theme {
    color: rgb(207, 207, 207);
    background-color: rgb(32, 32, 32);
}